<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>

  <div class="form-inputs" style="float:left">
	  <%= f.input :name, :autofocus => true, :required => true %>
	  <%= f.input :email, :required => true %>
	  <%= f.input :alias, :required => true %>

	  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
	  <%= f.input :password_confirmation, :required => false %>
	  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  </div>

  <div class="form-inputs" style="float:right">
  	<%= f.input :ip %> 
    
    <% @games = Game.all %>
    <% @games_arr = Array.new %>

    <% @games.each do |game| %>
      <% @gitem = Array.new %>
      <% @name = game.name %>
      <% @id = game.id %>
      <% @gitem.push(@name) %>
      <% @gitem.push(@id) %>
      <% @games_arr.push(@gitem) %>
    <% end %>

    <br />    
    <label class="decimal optional control-label">Favourite Game 1</label>
  	<%= f.select :fav1, @games_arr, :selected => current_user.fav1  %>

    <br />    
    <label class="decimal optional control-label">Favourite Game 1</label>
    <%= f.select :fav2, @games_arr, :selected => current_user.fav1   %>

    <br />    
    <label class="decimal optional control-label">Favourite Game 1</label>
    <%= f.select :fav3, @games_arr, :selected => current_user.fav1   %>

    <br />    
    <label class="decimal optional control-label">Favourite Game 1</label>
    <%= f.select :fav4, @games_arr, :selected => current_user.fav1   %>

    <br />    
    <label class="decimal optional control-label">Favourite Game 1</label>
    <%= f.select :fav5, @games_arr, :selected => current_user.fav1   %>
    
    <br />    
    <label class="decimal optional control-label">Current Game</label>
    <%= f.select :currentGame, @games_arr, :selected => current_user.currentGame  %>

  	<%= f.input :sonstiges %> 

  	<%= f.button :submit, 'Update', :class => 'btn-primary', :style => 'float:right' %>
  </div>

  
<% end %>

<div class="form-inputs" style="clear:both;">
	<h3>Cancel my account</h3>
	<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
	<%= link_to "Back", :back %>
</div>
