<p id="notice"><%= notice %></p>

<div class="form-inputs">
<p>
  <b>Product:</b>
  <%= @order.product %>
</p>

<p>
  <b>Orderer:</b>
  <%= @orderer_name %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>

<p>
  <b>Vendor:</b>
  <%= @vendor_name %>
</p>

<p>
  <b>Payed:</b>
  <% if @order.payed then %>
  YES
  <% else %>
  NO
  <% end %>
</p>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
