<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :maxPlayers %>
    <%= f.input :gameModes %>
    <%= f.input :availableTeams %>
    <%= f.input :genre %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
